#  Consignes

## Description

Ouvrir le fichier ks-projects-201801.csv, il recense environ 100 000 projets KickStarter. Intégrer les données directement avec L'API Python dans une base de données Mongo. 

Il conviendra de bien spécifier manuellement l'ID du document. Pensez aussi à bien formatter le type des données pour profiter des méthodes implémentées par Mongo. L'ensemble de données n'est pas forcément nécessaire, c'est à vous de créer votre modèle de données.

## Questions

- 1) Récupérer les 5 projets ayant reçu le plus de promesse de dons.
- 2) Compter le nombre de projets ayant atteint leur but.
- 3) Compter le nombre de projets pour chaque catégorie.
- 4) Compter le nombre de projets français ayant été instanciés avant 2016.
- 5) Récupérer les projets américains ayant demandé plus de 200 000 dollars.
- 6) Compter le nombre de projet ayant "Sport" dans leur nom

In [20]:
import pandas as pd
import pymongo

In [41]:
client = pymongo.MongoClient('mongodb://mongo:27017/')
database = client['exercices']
collection = database['kickstarter']

In [42]:
df_ks = pd.read_csv("./data/ks-projects-201801-sample.csv")
df_ks.head()

/root/.local/share/virtualenvs/code-AFz48Hjb/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6,8,10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real
0,872782264,"Scott Cooper's Solo CD ""A Leg Trick"" (Canceled)",Rock,Music,USD,2011-09-16,2000,2011-08-17 06:31:31,1145,canceled,24,US,1145,1145.000000
1,1326492673,Ohceola jewelry,Fashion,Fashion,USD,2012-08-22,18000,2012-07-23 20:46:48,1851,failed,28,US,1851,1851.000000
2,1688410639,Sluff Off & Harald: Two latest EGGs are Classi...,Tabletop Games,Games,USD,2016-07-19,2000,2016-07-01 21:55:54,7534,successful,254,US,3796,7534.000000
3,156812982,SketchPlanner: Create and Plan- all in one bea...,Art Books,Publishing,USD,2017-09-27,13000,2017-08-28 15:47:02,16298,successful,367,US,2670,16298.000000
4,1835968190,Proven sales with custom motorcycle accessories,Sculpture,Art,CAD,2016-02-24,5000,2016-01-25 17:37:10,1,failed,1,CA,0.708148,0.738225

Ce warning intervient lorsque pandas n'arrive pas à inférer le type de données. Il est sympa il précise les colones 6,8,10,12.

In [43]:
df_ks.columns[[6,8,10,12]]

Index(['goal', 'pledged', 'backers', 'usd pledged'], dtype='object')

## Question 0

### Netoyer les données

In [44]:
df_without_Nan = df_ks.dropna()
df_ks.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real
0,872782264,"Scott Cooper's Solo CD ""A Leg Trick"" (Canceled)",Rock,Music,USD,2011-09-16,2000,2011-08-17 06:31:31,1145,canceled,24,US,1145,1145.000000
1,1326492673,Ohceola jewelry,Fashion,Fashion,USD,2012-08-22,18000,2012-07-23 20:46:48,1851,failed,28,US,1851,1851.000000
2,1688410639,Sluff Off & Harald: Two latest EGGs are Classi...,Tabletop Games,Games,USD,2016-07-19,2000,2016-07-01 21:55:54,7534,successful,254,US,3796,7534.000000
3,156812982,SketchPlanner: Create and Plan- all in one bea...,Art Books,Publishing,USD,2017-09-27,13000,2017-08-28 15:47:02,16298,successful,367,US,2670,16298.000000
4,1835968190,Proven sales with custom motorcycle accessories,Sculpture,Art,CAD,2016-02-24,5000,2016-01-25 17:37:10,1,failed,1,CA,0.708148,0.738225

### Importer les données

In [47]:
df = df_without_Nan.to_dict(orient='records')

In [46]:
collection.insert_many(df)

## Question 1

In [65]:
cur = collection.find().sort([("usd_pledged_real", -1)]).limit(5)
list(cur)

[{'_id': ObjectId('5fbbb623ba157afc8ff63838'),
  'ID': 342886736,
  'name': "COOLEST COOLER: 21st Century Cooler that's Actually Cooler",
  'category': 'Product Design',
  'main_category': 'Design',
  'currency': 'USD',
  'deadline': '2014-08-30',
  'goal': '50000.0',
  'launched': '2014-07-08 10:14:37',
  'pledged': '13285226.36',
  'state': 'successful',
  'backers': '62642',
  'country': 'US',
  'usd pledged': '13285226.36',
  'usd_pledged_real': 13285226.36},
 {'_id': ObjectId('5fbbb623ba157afc8ff69262'),
  'ID': 2103598555,
  'name': 'Pebble 2, Time 2 + All-New Pebble Core',
  'category': 'Product Design',
  'main_category': 'Design',
  'currency': 'USD',
  'deadline': '2016-06-30',
  'goal': '1000000.0',
  'launched': '2016-05-24 15:49:52',
  'pledged': '12779843.49',
  'state': 'successful',
  'backers': '66673',
  'country': 'US',
  'usd pledged': '12779843.49',
  'usd_pledged_real': 12779843.49},
 {'_id': ObjectId('5fbbb624ba157afc8ff6c6f9'),
  'ID': 1033978702,
  'name': 'OUYA: A New Kind of Video Game Console',
  'category': 'Gaming Hardware',
  'main_category': 'Games',
  'currency': 'USD',
  'deadline': '2012-08-09',
  'goal': '950000.0',
  'launched': '2012-07-10 14:44:41',
  'pledged': '8596474.58',
  'state': 'successful',
  'backers': '63416',
  'country': 'US',
  'usd pledged': '8596474.58',
  'usd_pledged_real': 8596474.58},
 {'_id': ObjectId('5fbbb624ba157afc8ff73d7b'),
  'ID': 450099426,
  'name': 'The Everyday Backpack, Tote, and Sling',
  'category': 'Product Design',
  'main_category': 'Design',
  'currency': 'USD',
  'deadline': '2016-09-10',
  'goal': 500000.0,
  'launched': '2016-07-13 00:47:35',
  'pledged': 6565782.5,
  'state': 'successful',
  'backers': 26359,
  'country': 'US',
  'usd pledged': 1462611.0,
  'usd_pledged_real': 6565782.5},
 {'_id': ObjectId('5fbbb624ba157afc8ff6c62e'),
  'ID': 1386523707,
  'name': 'Fidget Cube: A Vinyl Desk Toy',
  'category': 'Product Design',
  'main_category': 'Design',
  'currency': 'USD',
  'deadline': '2016-10-20',
  'goal': '15000.0',
  'launched': '2016-08-30 22:02:09',
  'pledged': '6465690.3',
  'state': 'successful',
  'backers': '154926',
  'country': 'US',
  'usd pledged': '13770.0',
  'usd_pledged_real': 6465690.3}]

## Question 2

In [67]:
cur = collection.find({"state":"successful"})
len(list(cur))

52998

## Question 3

In [76]:
cur = collection.aggregate([{"$group" : {"_id" : "$main_category", "sum" : {"$sum" : 1}}}])
list(cur)

[{'_id': 'Art', 'sum': 11260},
 {'_id': 'Fashion', 'sum': 8943},
 {'_id': 'Games', 'sum': 13987},
 {'_id': 'Publishing', 'sum': 15721},
 {'_id': 'Comics', 'sum': 4139},
 {'_id': 'Design', 'sum': 11911},
 {'_id': 'Theater', 'sum': 4305},
 {'_id': 'Journalism', 'sum': 1807},
 {'_id': 'Photography', 'sum': 4176},
 {'_id': 'Technology', 'sum': 12871},
 {'_id': 'Film & Video', 'sum': 24982},
 {'_id': 'Dance', 'sum': 1488},
 {'_id': 'Indie Rock', 'sum': 1},
 {'_id': 'Music', 'sum': 19657},
 {'_id': 'Crafts', 'sum': 3463},
 {'_id': 'Food', 'sum': 9805}]

## Question 4

In [87]:
cur = collection.find( { "$and":[{"country": "FR"}, {"launched": {"$lte" : "2016-01-01"}}] } )
len(list(cur))

330

## Question 5

In [89]:
'''- 5) Récupérer les projets américains ayant demandé plus de 200 000 dollars.
- 6) Compter le nombre de projet ayant "Sport" dans leur nom'''


cur = collection.find( { "$and":[{"country": "US"}, {"goal": {"$gt" : 200000}}] } )
len(list(cur))

1026

## Question 6

In [91]:
collection.create_index([("name",  "text")])
cur = collection.find( { "$text": { "$search": "Sport" } } )
len(list(cur))

316