In [1]:
import re
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('out.csv')

In [3]:
data.head()

,date,title,artist,rank,last_week,peak,weeks
0,2021-01-02,All I Want For Christmas Is You,Mariah Carey,1,2,1,43
1,2021-01-02,Rockin' Around The Christmas Tree,Brenda Lee,2,3,2,38
2,2021-01-02,Jingle Bell Rock,Bobby Helms,3,4,3,35
3,2021-01-02,A Holly Jolly Christmas,Burl Ives,4,6,4,19
4,2021-01-02,It's The Most Wonderful Time Of The Year,Andy Williams,5,7,5,20

In [238]:
data.columns

Index(['date', 'title', 'artist', 'rank', 'last_week', 'peak', 'weeks'], dtype='object')

In [239]:
data = data.drop(['date', 'rank', 'last_week', 'peak', 'weeks'], axis=1)

In [240]:
data = data.drop_duplicates()

In [241]:
data = data.reset_index(drop=True)

In [242]:
data.head(101)

                                        title             artist
0             All I Want For Christmas Is You       Mariah Carey
1           Rockin' Around The Christmas Tree         Brenda Lee
2                            Jingle Bell Rock        Bobby Helms
3                     A Holly Jolly Christmas          Burl Ives
4    It's The Most Wonderful Time Of The Year      Andy Williams
..                                        ...                ...
96                          No Body, No Crime  Taylor Swift HAIM
97                   Moonwalking In Calabasas                DDG
98                          Took Her To The O           King Von
99                        Put Your Records On        Ritt Momney
100                            Last Christmas                NaN

[101 rows x 2 columns]

In [243]:
data = data[['artist', 'title']]

In [244]:
data.head()

          artist                                     title
0   Mariah Carey           All I Want For Christmas Is You
1     Brenda Lee         Rockin' Around The Christmas Tree
2    Bobby Helms                          Jingle Bell Rock
3      Burl Ives                   A Holly Jolly Christmas
4  Andy Williams  It's The Most Wonderful Time Of The Year

In [245]:
data.shape

(8747, 2)

In [246]:
data['artist'].replace('', np.nan, inplace=True)
data['title'].replace('', np.nan, inplace=True)
data.isna().sum()

artist    47
title     34
dtype: int64

In [247]:
data.dropna(subset = ["artist"], inplace=True)
data.dropna(subset = ["title"], inplace=True)
data.isna().sum()

artist    0
title     0
dtype: int64

In [248]:
data = data.reset_index(drop=True)

In [250]:
data.to_csv('dataGoogle3.csv', index=False)

In [251]:
dataTiret = data

In [252]:
for i in range(len(dataTiret['artist'])):
    dataTiret['artist'][i] = re.sub(r"[.',]+", "",dataTiret['artist'][i])
    dataTiret['title'][i] = re.sub(r"[.',]+", "",dataTiret['title'][i])

    dataTiret['artist'][i] = re.sub(r'\([^)]*\)', '',dataTiret['artist'][i])
    dataTiret['title'][i] = re.sub(r'\([^)]*\)', '',dataTiret['title'][i])

    dataTiret['artist'][i] = re.sub(r"\+", " ",dataTiret['artist'][i])
    dataTiret['title'][i] = re.sub(r"\+", " ",dataTiret['title'][i])
 
    dataTiret['artist'][i] = re.sub(r"\s+", "-",dataTiret['artist'][i])
    dataTiret['title'][i] = re.sub(r"\s+", "-",dataTiret['title'][i])

In [253]:
dataTiret.to_csv('dataGoogle2.csv', index=False)